$header: rgb(7, 176, 255);
$info: rgb(247, 250, 255);
$primary: rgb(0, 122, 192);
$primary-100: rgb(0, 138, 218);
$primary-200: rgb(24, 159, 238);
$primary-300: rgb(128, 128, 128);
$primary-300: rgb(52, 178, 252);
$border-100: rgb(202, 202, 202);
