$header: rgb(7, 176, 255);
$info: rgb(247, 250, 255);
$primary-100: rgb(0, 122, 192);
$primary-200: rgb(0, 138, 218);
$primary-300: rgb(24, 159, 238);
$primary-400: rgb(52, 178, 252);
$border-100: rgb(56, 56, 56);
$border-200: rgb(95, 95, 95);
$border-300: rgb(148, 148, 148);
$border-400: rgb(202, 202, 202);

$text-color: #2c3e50;
$sidebar: rgb(24, 24, 24);
